@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

img.logo {
  width: 150px;
  height: auto;
}

.loading-message {
  color: white;
}

.poll-container {
  padding: 20px;
  text-align: center;
  color: white;
  max-width: 375px;
}

.poll-container .btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
  gap: 16px;
}

.poll-container .btn-group .btn.active {
  border-color: #9569f584;
  background-color: #9569f584;
}

.poll-container .btn {
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  font-family: poppins;
  cursor: pointer;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
}

.poll-container button:hover {
  transform: scale(1.05);
  /* box-shadow: 0 5px 10px 2px #b597fc; */
}

.poll-container button.btn-submit {
  background-color: white;
  color: #171717;
}

.poll-container .form-disabled button:hover {
  transform: none;
}

.poll-container .form-disabled .btn {
  cursor: default;
}

.poll-container .form-disabled button.btn-submit {
  display: none;
}

.poll-container button span {
  z-index: 1;
  position: relative;
}

.poll-container button span.percentage {
  position: absolute;
  right: 20px;
}
.poll-container .form-disabled button .percentage-bar {
  width: 0;
}

.poll-container button .percentage-bar {
  display: block;
  height: 100%;
  background-color: #9669f5;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s;
}
